.title {
  font-family: Inter;
}

#QuestionBox {
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  ul {
    margin-top: 0;
    margin-bottom: 1em;
    margin-left: 1.5em;
  }

  li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }

  b,
  strong {
    font-weight: 700;
  }

  pre {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    padding-left: 0.93rem;
    padding-right: 0.93rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f7f9fa;
    color: #263238;
    line-height: 1.6;
    border-radius: 0.25rem;
    white-space: pre-wrap;
  }

  code {
    color: #546e7a;
    background-color: #f7f9fa;
    padding: 2px 4px;
    font-size: 13px;
    border-radius: 3px;
    font-family: monospace;
  }
}
