.title {
  font-family: Inter;
}

#QuestionBox {
  font-size: x-small;
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem /* 12px */;
    line-height: 1rem /* 16px */;
  }

  li {
    margin-top: 0.25rem /* 4px */;
    margin-bottom: 0.25rem /* 4px */;
  }

  b,
  strong {
    font-weight: 700;
  }

  pre {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f7f9fa;
    color: #263238;
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.25rem;
    white-space: pre-wrap;
  }

  code {
    font-size: 13px;
    background: #f7f9fa;
    padding: 2px 4px;
    border-radius: 0.25rem;
    color: #546e7a;
  }
}
